
<div class='Jumbotron'>
  <div class='container'>
    <div class='col-sm-6'>
  <h1>Quick, convenient and happy schedule maintenance!</h1>
  <p>Experience how simple web technology can make every employee </p>
  <p>at your company a happy employee. Sign up for a free trial </p>
  <p> today for an entire month and give your employees access </p>
  <p>to a simple and heavily convenient bulletin network for employees</p>
    <%=link_to 'Account Sign Up', sign_up_path, class: 'btn btn-success'%>
  </div>
  </div>
</div>
</br>
<div class='container'>
<div class='row'>
<div class='col-md-4'>
<h2>Get Social</h2>
  <p>Shiftlist allows every employee location-wide 
    to see all available shifts. With a network of
    familiar faces and an easily navigatable bulletin
    system, employees can now effortlessly never miss 
    a day of work and give management coverage all ways.</p>
</div>
<div class='col-md-4'>
<h2>Stay Updated</h2>
  <p>Employees can easily keep track of their own work 
    week with an easy to use calendar feature. Management
    can easily keep employees updated with a post to profile 
    feature and a system wide message feature. <p>
</div>
<div class='col-md-4'>
<h2>Made By Employees For Employees</h2>
  <p>Made to solve a simple problem for thousands 
    of employees nation-wide, by one fed up employee.
    Where as alternative software adds a heap of features 
    this solution adds the only features you truly need.</p>
</div>
</div>
</div>
