
<html>
  <body>
  </br></br>
    <header>
      <div class="header-content">
        <div class="content">
        <h1>ShiftList</h1>
        <h4>The shift notification system</h4>
        </div>
        <a class="ghost" href="/"> Register Here</a>
      </div>
    </header>
  </body>
</html>




