<h1>Create New Store</h1>
<div class="col-md-12">
<p>In this page you would create a store within the store table.</p>
<p>Each store will relate to many employees within a table.</p>
</div>
<div class="row">
<div class="col-md-6">

</div>
</div>